__pycache__/
*.pyc
.venv/
venv/
.env
*.local
.DS_Store
.idea/
.vscode/
*.log
checkpoint/
spark-warehouse/
*.iml
node_modules/
.pytest_cache/
.coverage
htmlcov/
dbt_packages/
target/
logs/
*.tar.gz
.gcp/
*.json.key
service-account*.json
